.board {
    /* outline: 2px solid #000000; */
    text-align: center;
}

.row {
    height: 3rem;
}

.cell {
    width: 3rem;
    height: 3rem;
    outline: 1px solid #000000;
    display: inline-block;
}